﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<header>
    <link rel="stylesheet" href="~/css/loading.css" />
</header>
<div class="loading">Loading&#8230;</div>