﻿@model EProjectGroup2.Models.DataTransferObject.UserModelDto.AddUserModelDto
@{
}

@{
    ViewData["Title"] = "Login";
}

<section class="background-radial-gradient overflow-hidden">
    <style>
        .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
        }

        #radius-shape-1 {
            height: 220px;
            width: 220px;
            top: -60px;
            left: -130px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -60px;
            right: -110px;
            width: 300px;
            height: 300px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }
    </style>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    The best offer <br />
                    <span style="color: hsl(218, 81%, 75%)">for your business</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    To provide a better healthcare for you, your family and friends. <br />
                    Join us today for a better tommorrow.
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form method="post" action="Add">
                          <div class="form-outline mb-3">
                            <label for="" class="form-label">UserName</label>
                            <input type="text" class="form-control" asp-for="UserName" >
                          </div>
                            <div class="form-outline mb-3">
                            <label for="" class="form-label">PassWord</label>
                            <input type="text" class="form-control" asp-for="Password" >
                          </div>
                            <div class="form-outline mb-3">
                            <label for="" class="form-label">FullName</label>
                            <input type="text" class="form-control" asp-for="FullName" >
                          </div>
                            <div class="form-outline mb-3">
                            <label for="" class="form-label">Description</label>
                            <input type="text" class="form-control" asp-for="Description" >
                          </div>
                            <div class="form-outline mb-3">
                            <label for="" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" asp-for="DoB" >
                          </div>
                            <div class="form-outline mb-3">
                            <label for="" class="form-label">Sex</label>
                            <input type="text" class="form-control" asp-for="Sex" >
                          </div>
                            <div class="form-outline mb-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" class="form-control" asp-for="Email" >
                          </div>
                          <div class="form-outline mb-3">
                            <label for="" class="form-label">Address</label>
                            <input type="text" class="form-control" asp-for="Address" >
                          </div>
                          <div class="form-outline mb-3">
                            <label for="" class="form-label">Phone</label>
                            <input type="text" class="form-control" asp-for="Phone" >
                          </div>
                            <div class="form-outline mb-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                                </label>
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                                </label>
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label">
                                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                                </label>
                            </div>
                            <!-- Checkbox -->
                            @*<div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                <label class="form-check-label" for="form2Example33">
                                    Subscribe to our newsletter
                                </label>
                            </div>*@


                            <button type="submit" class="btn btn-primary">Submit</button>
                            <div class="form-outline mb-4">
                                Already have an account? <a asp-action="Login">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}