﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a class="nav_logo" asp-area="" asp-controller="Admin" asp-action="Index">
                    <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Clinic Manacgement</span>
                </a>
                <div class="nav_list">
                    <a  class="nav_link active" asp-area="" asp-controller="Admin" asp-action="Index">
                        <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span>
                    </a> 
                    <a class="nav_link" asp-area="" asp-controller="Admin" asp-action="Users">
                        <i class='bx bx-user nav_icon'></i> <span class="nav_name">Users</span>
                    </a> 
                    <a class="nav_link"asp-area="" asp-controller="Admin" asp-action="Pharmacys">
                        <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Pharmacy</span>
                    </a> 
                    <a class="nav_link" asp-area="" asp-controller="Admin" asp-action="MedicalEquipment">
                        <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">MedicalEquipment</span>
                    </a> 
                    <a class="nav_link" asp-area="" asp-controller="Admin" asp-action="Educations">
                        <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Educations</span>
                    </a> 
                    <a class="nav_link" asp-area="" asp-controller="Admin" asp-action="Reviews">
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Reviews</span>
                    </a>
                </div>
            </div> <a class="nav_link" asp-area="" asp-controller="Admin" asp-action="Logout">
                <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="mt-5 height-100 bg-light">
        @RenderBody()
    </div>
   <script src="~/js/JavaScript.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
